3<html> 
	<head>
		<title>EnviroStats Database</title>
		<script src="/socket.io/socket.io.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
		<script type="text/javascript" src="submit.js"></script>
		<link rel="stylesheet" href="css.css" type="text/css" />
	
		<meta name="riverData"/>
	</head>

	<body id="index_body"> 
		<nav>
			<div id="left_button">
				<input id="columnName" type="text" size="11" placeholder="New Column">
				<button type="button" id="newColumnButton">Create</button>
			</div>
			<div id="home_header">
				<h1>Database</h1>
			</div>
			<div id="buttons">
				<h3><a href="/export">Export</a></h3>
				<h3 id="logout"><a href="/">Home</a></h3>
			</div>	
			
			
		</nav>

		<div id="newEntries">
			<h3>
			<input type="text" id="newRiver" size="10" name="theinput" placeholder="River Name" value="" > or
			<select id="newRiverChoice" name="thelist">
				<option value="">---Select---</option>
				{{#rivers}}
					<option value="{{rivernum}}">{{rivernum}}</option>
				{{/rivers}}
			</select> 
			Year:
			<input id="newYear" name="date" size="5" placeholder="YYYY" type="text" oninput="this.value = this.value.replace(/[^0-9.]/g, ''); this.value = this.value.replace(/(\..*)\./g, '$1'); year_edit(this.value)" />
			Month:
			<select id="newMonth">
				<option value="" ></option>
				<option value="1" >1</option>
				<option  value="2" >2</option>
				<option  value="3">3</option>
				<option  value="4">4</option>
				<option  value="5" >5</option>
				<option value="6">6</option>
				<option  value="7">7</option>
				<option value="8">8</option>
				<option  value="9" >9</option>
				<option  value="10">10</option>
				<option value="11">11</option>
				<option  value="12">12</option>
			</select>
			Day:
			<select id="newDay">
			</select> 
			<button type="button" id="newEntriesButton">Add</button> </h3>
		</div>
		
		<header2 id="home_header2">
			<h3 class="label">Currently Displaying Data at
				<select id="riverChoice">
					<option value="">---Select---</option>
					{{#rivers}}
						<option value="{{rivernum}}">{{rivernum}}</option>
					{{/rivers}}
				</select>on 
				<select id="dateChoice">
						<option  value="">---Select---</option>
				</select>
				<button type="button" id="updateButton" >Update
			</h3>
		</header2>

		<div id="data_box">
			<table border=".5" id="right_table">
			<tr id="headers">
				<th>Grid #</th>
				<th>River</th>
				<th>Date</th>
				{{#columns}}
					<th>{{niceNames}}</th>
				{{/columns}}
			</tr>
		</table>
		</div>
	</body>

</html>